.contenedor{
    box-shadow: 10px 10px 8px 8px #888888;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-gap: 20px;
    border-radius: 20px;
    padding: 20px;
}
.img{
    width: 500px;
    height: 500px;
}
button{
width: 200px;
height: 50px;
left: 958px;
top: 2789.5px;
border-radius: 5px;
background-color: blue;
color: white;
font-size: 20px;
}