.contenedor{
    display:flex;
    flex-direction: column;
    grid-gap: 20px;
    border-radius: 20px;
    padding: 10px;



}
.img{
    width: 280px;
    height: 280px;
    border-radius: 15px;
}

.title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
/* or 24px */


/* Black */

color: #0B0E0E;
}

.price{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
/* identical to box height, or 24px */


/* Primary */

color: #0F807D;

}