.contenedor{
    display: flex;
    flex-wrap:'wrap'
}
.producto{
    color: blue;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 250px;
    background-color:#eeeeee;
    border-color:#111111;
    border:10px;
    border-radius:20px;
    margin: 10px
}