.App {
  font-family: 'Montserrat', sans-serif;
  color:black;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  background: #FAFCFC;
}

.App-link {
  color: #24CBC7;
    font-size: 24px;
}

.App-button{
  background: #24CBC7;
  border-radius: 10px;
  border-color: transparent;
  margin: 5px;
}

.App-button2{
  border: 1px solid #0B0E0E;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  margin: 5px;
  color: black;
}

.App-text{
  width: 200px;
  height: 25px;
  margin: 5px;
  border-radius: 5px;
}

